<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="evilconstraints.ACyclic"
         name=""
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="evilconstraints.acyclic.ACyclicMatcherFactory"
            id="evilconstraints.ACyclic">
      </matcher>
   </extension>
   <extension
         id="evilconstraints.ReachAble"
         name=""
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="evilconstraints.reachable.ReachAbleMatcherFactory"
            id="evilconstraints.ReachAble">
      </matcher>
   </extension>
   <extension
         id="evilconstraints.SameName"
         name=""
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="evilconstraints.samename.SameNameMatcherFactory"
            id="evilconstraints.SameName">
      </matcher>
   </extension>
   <extension
         id="evilconstraints.AttrsParams"
         name=""
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="evilconstraints.attrsparams.AttrsParamsMatcherFactory"
            id="evilconstraints.AttrsParams">
      </matcher>
   </extension>
   <extension
         id="evilconstraints.TypesNotUsed"
         name=""
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="evilconstraints.typesnotused.TypesNotUsedMatcherFactory"
            id="evilconstraints.TypesNotUsed">
      </matcher>
   </extension>
   <extension
         id="evilconstraints.TypedRef"
         name=""
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="evilconstraints.typedref.TypedRefMatcherFactory"
            id="evilconstraints.TypedRef">
      </matcher>
   </extension>
   <extension
         id="evilconstraints.Max1Service"
         name=""
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="evilconstraints.max1service.Max1ServiceMatcherFactory"
            id="evilconstraints.Max1Service">
      </matcher>
   </extension>
   <extension
         id="evilconstraints.ComponentService"
         name=""
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="evilconstraints.componentservice.ComponentServiceMatcherFactory"
            id="evilconstraints.ComponentService">
      </matcher>
   </extension>
   <extension
         id="evilconstraints.EmptyNamedObj"
         name=""
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="evilconstraints.emptynamedobj.EmptyNamedObjMatcherFactory"
            id="evilconstraints.EmptyNamedObj">
      </matcher>
   </extension>
   <extension
         id="evilconstraints.EmptyPathService"
         name=""
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="evilconstraints.emptypathservice.EmptyPathServiceMatcherFactory"
            id="evilconstraints.EmptyPathService">
      </matcher>
   </extension>
   <extension
         id="evilconstraints.IsValidName"
         name=""
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="evilconstraints.isvalidname.IsValidNameMatcherFactory"
            id="evilconstraints.IsValidName">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.evilstore.evilconstraints.ACyclic"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.inf.evilstore.evilconstraints.acyclic.ACyclicMatcherFactory"
            id="hu.bme.mit.inf.evilstore.evilconstraints.ACyclic">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.evilstore.evilconstraints.ReachAble"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.inf.evilstore.evilconstraints.reachable.ReachAbleMatcherFactory"
            id="hu.bme.mit.inf.evilstore.evilconstraints.ReachAble">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.evilstore.evilconstraints.SameName"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.inf.evilstore.evilconstraints.samename.SameNameMatcherFactory"
            id="hu.bme.mit.inf.evilstore.evilconstraints.SameName">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.evilstore.evilconstraints.AttrsParams"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.inf.evilstore.evilconstraints.attrsparams.AttrsParamsMatcherFactory"
            id="hu.bme.mit.inf.evilstore.evilconstraints.AttrsParams">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.evilstore.evilconstraints.TypesNotUsed"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.inf.evilstore.evilconstraints.typesnotused.TypesNotUsedMatcherFactory"
            id="hu.bme.mit.inf.evilstore.evilconstraints.TypesNotUsed">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.evilstore.evilconstraints.TypedRef"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.inf.evilstore.evilconstraints.typedref.TypedRefMatcherFactory"
            id="hu.bme.mit.inf.evilstore.evilconstraints.TypedRef">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.evilstore.evilconstraints.Max1Service"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.inf.evilstore.evilconstraints.max1service.Max1ServiceMatcherFactory"
            id="hu.bme.mit.inf.evilstore.evilconstraints.Max1Service">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.evilstore.evilconstraints.ComponentService"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.inf.evilstore.evilconstraints.componentservice.ComponentServiceMatcherFactory"
            id="hu.bme.mit.inf.evilstore.evilconstraints.ComponentService">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.evilstore.evilconstraints.EmptyNamedObj"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.inf.evilstore.evilconstraints.emptynamedobj.EmptyNamedObjMatcherFactory"
            id="hu.bme.mit.inf.evilstore.evilconstraints.EmptyNamedObj">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.evilstore.evilconstraints.EmptyPathService"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.inf.evilstore.evilconstraints.emptypathservice.EmptyPathServiceMatcherFactory"
            id="hu.bme.mit.inf.evilstore.evilconstraints.EmptyPathService">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.evilstore.evilconstraints.IsValidName"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.inf.evilstore.evilconstraints.isvalidname.IsValidNameMatcherFactory"
            id="hu.bme.mit.inf.evilstore.evilconstraints.IsValidName">
      </matcher>
   </extension>

</plugin>
