<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="SzolgInt-OSGi Target" sequenceNumber="41">
<locations>
<location path="${eclipse_home}" type="Profile"/>
<location path="${project_loc:hu.bme.mit.szolgint.osgi.demo.target}/derby" type="Directory"/>
<location path="${project_loc:hu.bme.mit.szolgint.osgi.demo.target}/eclipselink" type="Directory"/>
<location path="${project_loc:hu.bme.mit.szolgint.osgi.demo.target}/jaxrs.connector" type="Directory"/>
<location path="${project_loc:hu.bme.mit.szolgint.osgi.demo.target}/jersey" type="Directory"/>
</locations>
<includeBundles>
<plugin id="com.jcraft.jsch.source"/>
<plugin id="org.eclipse.core.externaltools"/>
<plugin id="org.eclipse.ant.core.source"/>
<plugin id="org.eclipse.persistence.jpa.source"/>
<plugin id="javax.servlet.source"/>
<plugin id="org.eclipse.ltk.core.refactoring.source"/>
<plugin id="org.apache.commons.lang"/>
<plugin id="org.eclipse.equinox.frameworkadmin.equinox.source"/>
<plugin id="org.eclipse.ui.console"/>
<plugin id="javax.xml.bind" version="2.2.0.v201105210648"/>
<plugin id="org.eclipse.persistence.jpa.equinox"/>
<plugin id="org.eclipse.mylyn.commons.repositories"/>
<plugin id="org.eclipse.net4j.util"/>
<plugin id="org.apache.xerces"/>
<plugin id="javax.servlet.jsp"/>
<plugin id="org.eclipse.ui.intro"/>
<plugin id="org.eclipse.equinox.registry"/>
<plugin id="org.eclipse.emf.validation"/>
<plugin id="org.eclipse.equinox.security.win32.x86.source"/>
<plugin id="javax.xml"/>
<plugin id="org.eclipse.equinox.p2.metadata"/>
<plugin id="org.eclipse.core.variables.source"/>
<plugin id="org.apache.commons.logging" version="1.1.1.v201101211721"/>
<plugin id="org.eclipse.mylyn.monitor.ui"/>
<plugin id="org.eclipse.equinox.p2.artifact.repository.source"/>
<plugin id="org.eclipse.jdt.junit.core.source"/>
<plugin id="org.eclipse.core.databinding.observable"/>
<plugin id="javax.servlet.jsp.source"/>
<plugin id="org.eclipse.jdt.launching"/>
<plugin id="org.eclipse.mylyn.tasks.ui"/>
<plugin id="org.eclipse.ant.launching.source"/>
<plugin id="org.eclipse.equinox.p2.publisher"/>
<plugin id="org.junit" version="4.8.2.v4_8_2_v20110321-1705"/>
<plugin id="org.eclipse.osgi.services.source"/>
<plugin id="org.eclipse.compare.source"/>
<plugin id="org.eclipse.jdt.junit"/>
<plugin id="org.eclipse.emf.ecore.edit"/>
<plugin id="org.eclipse.core.runtime"/>
<plugin id="org.apache.lucene"/>
<plugin id="org.eclipse.persistence.core.source"/>
<plugin id="org.eclipse.ui.source"/>
<plugin id="org.eclipse.jdt.ui.source"/>
<plugin id="org.eclipse.debug.core.source"/>
<plugin id="org.eclipse.persistence.jpa.equinox.weaving"/>
<plugin id="org.eclipse.core.net"/>
<plugin id="org.eclipse.swt.win32.win32.x86"/>
<plugin id="org.eclipse.equinox.util.source"/>
<plugin id="org.eclipse.equinox.security.source"/>
<plugin id="jackson-mapper-asl"/>
<plugin id="org.eclipse.emf.ecore.xmi.source"/>
<plugin id="org.eclipse.jdt.core"/>
<plugin id="org.eclipse.jdt.launching.source"/>
<plugin id="org.eclipse.equinox.p2.publisher.source"/>
<plugin id="org.eclipse.ui.intro.source"/>
<plugin id="org.eclipse.emf.common"/>
<plugin id="org.eclipse.ui.views.properties.tabbed"/>
<plugin id="org.eclipse.equinox.p2.publisher.eclipse.source"/>
<plugin id="org.apache.lucene.queries"/>
<plugin id="org.eclipse.jdt.debug.ui.source"/>
<plugin id="javax.mail"/>
<plugin id="org.eclipse.persistence.oracle"/>
<plugin id="org.junit.source" version="4.8.2.v4_8_2_v20110321-1705"/>
<plugin id="org.eclipse.equinox.http.servlet.source"/>
<plugin id="com.google.guava"/>
<plugin id="org.hamcrest.core.source"/>
<plugin id="org.eclipse.core.runtime.compatibility.auth"/>
<plugin id="javax.activation" version="1.1.0.v201005080500"/>
<plugin id="org.apache.log4j.source"/>
<plugin id="org.eclipse.jdt.junit.runtime"/>
<plugin id="org.apache.lucene.source"/>
<plugin id="org.eclipse.jface.databinding"/>
<plugin id="org.eclipse.equinox.preferences"/>
<plugin id="org.eclipse.core.databinding.property.source"/>
<plugin id="org.eclipse.equinox.p2.engine.source"/>
<plugin id="org.eclipse.compare"/>
<plugin id="javax.jms"/>
<plugin id="org.mortbay.jetty.util.source"/>
<plugin id="org.eclipse.ant.ui"/>
<plugin id="org.apache.commons.codec.source"/>
<plugin id="org.eclipse.xtext.source"/>
<plugin id="org.eclipse.core.contenttype.source"/>
<plugin id="org.eclipse.core.resources"/>
<plugin id="javax.inject"/>
<plugin id="org.eclipse.core.databinding.observable.source"/>
<plugin id="com.ibm.icu"/>
<plugin id="org.eclipse.persistence.core"/>
<plugin id="org.eclipse.jdt.core.source"/>
<plugin id="org.eclipse.persistence.jpa"/>
<plugin id="org.eclipse.text"/>
<plugin id="org.eclipse.epp.usagedata.recording"/>
<plugin id="com.sun.jersey.jersey-client"/>
<plugin id="org.eclipse.ui.ide"/>
<plugin id="org.eclipse.jface.databinding.source"/>
<plugin id="org.eclipse.equinox.common"/>
<plugin id="org.eclipse.help.base.source"/>
<plugin id="org.sat4j.pb"/>
<plugin id="org.eclipse.core.variables"/>
<plugin id="org.eclipse.emf.common.source"/>
<plugin id="org.eclipse.ui.cheatsheets.source"/>
<plugin id="org.eclipse.emf.ecore.edit.source"/>
<plugin id="org.eclipse.equinox.p2.repository"/>
<plugin id="org.eclipse.mylyn.commons.identity"/>
<plugin id="org.eclipse.emf.codegen"/>
<plugin id="org.eclipse.help.ui.source"/>
<plugin id="org.eclipse.ui.editors.source"/>
<plugin id="org.eclipse.equinox.registry.source"/>
<plugin id="org.eclipse.ui.views.source"/>
<plugin id="org.eclipse.emf.edit.source"/>
<plugin id="org.eclipse.emf.ecore.xmi"/>
<plugin id="org.eclipse.emf.common.ui.source"/>
<plugin id="org.eclipse.mylyn.tasks.core"/>
<plugin id="org.eclipse.ui.externaltools.source"/>
<plugin id="org.eclipse.help.webapp.source"/>
<plugin id="org.eclipse.team.core.source"/>
<plugin id="org.eclipse.jdt.core.manipulation"/>
<plugin id="org.eclipse.equinox.app"/>
<plugin id="org.eclipse.equinox.p2.director"/>
<plugin id="org.eclipse.osgi.services"/>
<plugin id="javax.transaction"/>
<plugin id="org.eclipse.persistence.asm"/>
<plugin id="org.eclipse.xtext.logging.source"/>
<plugin id="org.eclipse.core.contenttype"/>
<plugin id="org.eclipse.equinox.p2.updatesite.source"/>
<plugin id="org.eclipse.gmf.runtime.common.ui"/>
<plugin id="org.eclipse.equinox.p2.jarprocessor.source"/>
<plugin id="org.eclipse.emf.ecore.source"/>
<plugin id="org.antlr.generator"/>
<plugin id="org.eclipse.emf.importer"/>
<plugin id="org.eclipse.ltk.ui.refactoring"/>
<plugin id="org.eclipse.gmf.runtime.emf.core.source"/>
<plugin id="org.hamcrest.core"/>
<plugin id="org.eclipse.core.resources.source"/>
<plugin id="org.eclipse.gmf.runtime.emf.commands.core.source"/>
<plugin id="org.eclipse.persistence.jpa.equinox.source"/>
<plugin id="org.eclipse.pde.core.source"/>
<plugin id="org.eclipse.equinox.p2.director.app"/>
<plugin id="org.eclipse.emf.cdo.server"/>
<plugin id="org.eclipse.jface.source"/>
<plugin id="org.eclipse.equinox.simpleconfigurator.manipulator"/>
<plugin id="com.sun.jersey.jersey-server"/>
<plugin id="org.eclipse.jdt.compiler.tool.source"/>
<plugin id="org.eclipse.ui.ide.source"/>
<plugin id="org.eclipse.debug.ui"/>
<plugin id="org.eclipse.core.databinding.source"/>
<plugin id="org.eclipse.emf.mwe.utils"/>
<plugin id="org.apache.commons.logging.source"/>
<plugin id="org.eclipse.jdt.junit.core"/>
<plugin id="org.eclipse.ui.workbench.texteditor"/>
<plugin id="org.eclipse.persistence.jpa.osgi.source"/>
<plugin id="org.eclipse.gmf.runtime.emf.type.core"/>
<plugin id="org.eclipse.osgi"/>
<plugin id="org.eclipse.core.runtime.compatibility.registry"/>
<plugin id="org.eclipse.equinox.app.source"/>
<plugin id="org.eclipse.persistence.antlr.source"/>
<plugin id="org.eclipse.equinox.http.jetty"/>
<plugin id="org.eclipse.ui.navigator.source"/>
<plugin id="org.eclipse.emf.common.ui"/>
<plugin id="org.eclipse.mylyn.commons.xmlrpc"/>
<plugin id="org.eclipse.core.jobs"/>
<plugin id="org.codehaus.jettison.jettison"/>
<plugin id="org.eclipse.emf.cdo"/>
<plugin id="jackson-jaxrs"/>
<plugin id="com.jcraft.jsch"/>
<plugin id="org.apache.ant"/>
<plugin id="org.eclipse.team.ui.source"/>
<plugin id="org.eclipse.equinox.simpleconfigurator"/>
<plugin id="org.eclipse.xtext.logging"/>
<plugin id="org.eclipse.equinox.p2.metadata.repository.source"/>
<plugin id="org.eclipse.equinox.p2.garbagecollector"/>
<plugin id="org.jdom"/>
<plugin id="org.objectweb.asm.source"/>
<plugin id="org.eclipse.pde.ui"/>
<plugin id="org.eclipse.equinox.p2.metadata.repository"/>
<plugin id="org.eclipse.gmf.runtime.emf.core"/>
<plugin id="org.eclipse.xtext"/>
<plugin id="org.eclipse.gmf.runtime.common.core.source"/>
<plugin id="org.eclipse.emf.codegen.ecore"/>
<plugin id="org.eclipse.ui.navigator.resources.source"/>
<plugin id="org.eclipse.ui.externaltools"/>
<plugin id="org.eclipse.pde.launching.source"/>
<plugin id="org.eclipse.team.core"/>
<plugin id="org.eclipse.help.ui"/>
<plugin id="org.eclipse.emf.cdo.common"/>
<plugin id="org.eclipse.gmf.runtime.common.ui.source"/>
<plugin id="org.eclipse.compare.core"/>
<plugin id="org.junit.source" version="3.8.2.v3_8_2_v20100427-1100"/>
<plugin id="org.eclipse.emf.codegen.ecore.ui"/>
<plugin id="org.apache.xmlrpc"/>
<plugin id="javax.xml.bind.source"/>
<plugin id="org.eclipse.persistence.oracle.source"/>
<plugin id="org.eclipse.ui.browser"/>
<plugin id="org.eclipse.help"/>
<plugin id="org.eclipse.equinox.p2.repository.tools.source"/>
<plugin id="org.eclipse.emf.mwe.core"/>
<plugin id="org.eclipse.jdt.debug.ui"/>
<plugin id="org.eclipse.ui.win32"/>
<plugin id="org.eclipse.ui.navigator"/>
<plugin id="org.eclipse.text.source"/>
<plugin id="org.eclipse.equinox.p2.updatesite"/>
<plugin id="org.apache.commons.codec"/>
<plugin id="org.eclipse.equinox.common.source"/>
<plugin id="org.eclipse.persistence.antlr"/>
<plugin id="org.apache.lucene.highlighter"/>
<plugin id="org.eclipse.equinox.security.ui"/>
<plugin id="org.eclipse.ui.forms"/>
<plugin id="org.eclipse.equinox.security.ui.source"/>
<plugin id="org.eclipse.equinox.p2.touchpoint.eclipse.source"/>
<plugin id="org.eclipse.mylyn.context.core"/>
<plugin id="org.eclipse.equinox.p2.core"/>
<plugin id="org.apache.lucene.core.source"/>
<plugin id="javax.persistence.source"/>
<plugin id="org.eclipse.gmf.runtime.emf.clipboard.core"/>
<plugin id="org.eclipse.emf.transaction.source"/>
<plugin id="org.eclipse.core.runtime.compatibility"/>
<plugin id="org.eclipse.emf.ecore"/>
<plugin id="org.eclipse.gmf.runtime.emf.commands.core"/>
<plugin id="org.eclipse.pde.launching"/>
<plugin id="org.eclipse.equinox.p2.metadata.source"/>
<plugin id="org.eclipse.emf.importer.source"/>
<plugin id="org.eclipse.emf.ecore.change"/>
<plugin id="org.eclipse.core.filesystem.source"/>
<plugin id="org.eclipse.core.commands"/>
<plugin id="org.apache.commons.httpclient"/>
<plugin id="org.eclipse.swt.win32.win32.x86.source"/>
<plugin id="org.eclipse.equinox.p2.repository.tools"/>
<plugin id="org.apache.lucene.snowball"/>
<plugin id="org.eclipse.ui.browser.source"/>
<plugin id="org.eclipse.mylyn.discovery.ui"/>
<plugin id="org.eclipse.core.externaltools.source"/>
<plugin id="org.eclipse.core.databinding.property"/>
<plugin id="org.eclipse.core.commands.source"/>
<plugin id="org.eclipse.ltk.ui.refactoring.source"/>
<plugin id="org.eclipse.emf.codegen.ecore.ui.source"/>
<plugin id="org.eclipse.equinox.ds"/>
<plugin id="org.mortbay.jetty.server.source"/>
<plugin id="org.eclipse.emf.workspace"/>
<plugin id="org.eclipse.jdt.compiler.apt.source"/>
<plugin id="org.eclipse.update.configurator"/>
<plugin id="org.objectweb.asm"/>
<plugin id="org.eclipse.jsch.core.source"/>
<plugin id="org.apache.lucene.spellchecker"/>
<plugin id="org.eclipse.equinox.http.registry.source"/>
<plugin id="org.eclipse.mylyn.commons.core"/>
<plugin id="org.eclipse.update.configurator.source"/>
<plugin id="org.eclipse.equinox.p2.jarprocessor"/>
<plugin id="org.eclipse.ui.cheatsheets"/>
<plugin id="org.eclipse.search.source"/>
<plugin id="javax.persistence" version="2.0.3.v201010191057"/>
<plugin id="org.eclipse.core.runtime.compatibility.auth.source"/>
<plugin id="org.eclipse.core.jobs.source"/>
<plugin id="org.eclipse.jdt.junit.runtime.source"/>
<plugin id="org.eclipse.mylyn.bugzilla.core"/>
<plugin id="org.eclipse.gmf.runtime.common.ui.services.properties"/>
<plugin id="org.eclipse.search"/>
<plugin id="org.eclipse.jdt.ui"/>
<plugin id="org.apache.ws.commons.util"/>
<plugin id="org.eclipse.help.webapp"/>
<plugin id="org.eclipse.emf.converter"/>
<plugin id="org.eclipse.equinox.util"/>
<plugin id="com.eclipsesource.jaxrs.connector"/>
<plugin id="javax.xml.stream" version="1.0.1.v201004272200"/>
<plugin id="org.eclipse.mylyn.context.ui"/>
<plugin id="org.eclipse.mylyn.commons.screenshots"/>
<plugin id="org.eclipse.mylyn.tasks.bugs"/>
<plugin id="org.eclipse.persistence.jpa.osgi"/>
<plugin id="org.apache.log4j"/>
<plugin id="com.sun.jersey.jersey-json"/>
<plugin id="org.eclipse.core.filebuffers.source"/>
<plugin id="org.eclipse.persistence.asm.source"/>
<plugin id="org.eclipse.jdt.core.manipulation.source"/>
<plugin id="org.eclipse.equinox.p2.ui"/>
<plugin id="com.sun.jersey.jersey-core"/>
<plugin id="org.eclipse.pde.build.source"/>
<plugin id="org.eclipse.emf.transaction"/>
<plugin id="org.eclipse.gmf.runtime.common.ui.services.properties.source"/>
<plugin id="org.eclipse.xtend"/>
<plugin id="org.eclipse.jdt.compiler.apt"/>
<plugin id="org.eclipse.equinox.ds.source"/>
<plugin id="org.eclipse.ui.editors"/>
<plugin id="javax.activation" version="1.1.0.v201108011116"/>
<plugin id="org.eclipse.help.source"/>
<plugin id="org.apache.commons.el.source"/>
<plugin id="org.apache.ant.source"/>
<plugin id="org.eclipse.ui.workbench.source"/>
<plugin id="org.eclipse.jface.text"/>
<plugin id="org.eclipse.equinox.p2.artifact.repository"/>
<plugin id="org.eclipse.persistence.jpa.equinox.weaving.source"/>
<plugin id="org.eclipse.equinox.p2.ui.source"/>
<plugin id="org.eclipse.team.ui"/>
<plugin id="org.eclipse.equinox.jsp.jasper.source"/>
<plugin id="jackson-core-asl"/>
<plugin id="org.eclipse.emf.codegen.ecore.source"/>
<plugin id="org.apache.lucene.memory"/>
<plugin id="org.eclipse.core.filesystem"/>
<plugin id="org.eclipse.emf.edit.ui"/>
<plugin id="org.eclipse.ant.core"/>
<plugin id="org.eclipse.ui.views.properties.tabbed.source"/>
<plugin id="org.eclipse.emf.workspace.source"/>
<plugin id="org.apache.jasper.source"/>
<plugin id="org.eclipse.pde.core"/>
<plugin id="com.sun.syndication"/>
<plugin id="org.eclipse.core.databinding"/>
<plugin id="org.eclipse.team.cvs.core"/>
<plugin id="org.eclipse.ltk.core.refactoring"/>
<plugin id="org.apache.commons.el"/>
<plugin id="org.eclipse.core.resources.win32.x86"/>
<plugin id="org.eclipse.mylyn.discovery.core"/>
<plugin id="org.eclipse.core.expressions"/>
<plugin id="org.eclipse.ui.views.log.source"/>
<plugin id="org.eclipse.mylyn.commons.net"/>
<plugin id="org.eclipse.emf.validation.source"/>
<plugin id="org.eclipse.equinox.p2.director.source"/>
<plugin id="org.apache.jasper"/>
<plugin id="org.eclipse.jdt.compiler.tool"/>
<plugin id="org.eclipse.equinox.p2.operations"/>
<plugin id="org.eclipse.xtend.typesystem.emf"/>
<plugin id="org.apache.commons.logging" version="1.0.4.v201101211617"/>
<plugin id="org.mortbay.jetty.server"/>
<plugin id="org.apache.xml.resolver"/>
<plugin id="com.ibm.icu.source"/>
<plugin id="org.eclipse.equinox.p2.core.source"/>
<plugin id="org.eclipse.equinox.p2.operations.source"/>
<plugin id="org.eclipse.mylyn.commons.ui"/>
<plugin id="org.eclipse.equinox.http.jetty.source"/>
<plugin id="org.eclipse.pde.ui.source"/>
<plugin id="org.eclipse.equinox.p2.publisher.eclipse"/>
<plugin id="org.eclipse.equinox.http.servlet"/>
<plugin id="org.eclipse.emf.edit.ui.source"/>
<plugin id="org.eclipse.ui.console.source"/>
<plugin id="org.eclipse.ui.workbench.texteditor.source"/>
<plugin id="org.eclipse.ui.navigator.resources"/>
<plugin id="org.eclipse.ui.win32.source"/>
<plugin id="org.apache.lucene.core"/>
<plugin id="org.eclipse.equinox.security"/>
<plugin id="org.apache.xml.serializer"/>
<plugin id="org.eclipse.equinox.jsp.jasper.registry.source"/>
<plugin id="org.eclipse.core.runtime.source"/>
<plugin id="javax.resource"/>
<plugin id="javax.xml.bind" version="2.2.0.v201005080402"/>
<plugin id="org.eclipse.equinox.simpleconfigurator.source"/>
<plugin id="org.eclipse.core.filesystem.win32.x86"/>
<plugin id="org.eclipse.equinox.p2.engine"/>
<plugin id="org.junit" version="3.8.2.v3_8_2_v20100427-1100"/>
<plugin id="org.eclipse.ui.workbench"/>
<plugin id="org.eclipse.core.net.win32.x86"/>
<plugin id="org.eclipse.equinox.http.registry"/>
<plugin id="org.eclipse.emf.converter.source"/>
<plugin id="org.eclipse.core.runtime.compatibility.registry.source"/>
<plugin id="jackson-xc"/>
<plugin id="org.apache.lucene.misc"/>
<plugin id="org.eclipse.emf.edit"/>
<plugin id="org.eclipse.ui.forms.source"/>
<plugin id="org.eclipse.emf.codegen.source"/>
<plugin id="org.apache.commons.cli"/>
<plugin id="org.eclipse.jdt.debug"/>
<plugin id="org.eclipse.jface.text.source"/>
<plugin id="org.eclipse.gmf.runtime.common.core"/>
<plugin id="org.eclipse.epp.usagedata.gathering"/>
<plugin id="org.eclipse.xtext.util.source"/>
<plugin id="org.eclipse.help.base"/>
<plugin id="org.eclipse.ui"/>
<plugin id="org.eclipse.jface"/>
<plugin id="org.eclipse.equinox.p2.touchpoint.eclipse"/>
<plugin id="org.eclipse.core.filebuffers"/>
<plugin id="org.eclipse.equinox.preferences.source"/>
<plugin id="org.eclipse.jsch.core"/>
<plugin id="org.eclipse.emf.mwe2.runtime"/>
<plugin id="org.eclipse.core.net.source"/>
<plugin id="org.eclipse.equinox.frameworkadmin.source"/>
<plugin id="org.eclipse.mylyn.monitor.core"/>
<plugin id="org.eclipse.compare.core.source"/>
<plugin id="org.eclipse.equinox.jsp.jasper"/>
<plugin id="org.eclipse.swt"/>
<plugin id="org.eclipse.equinox.p2.garbagecollector.source"/>
<plugin id="org.apache.lucene.analysis.source"/>
<plugin id="org.eclipse.equinox.frameworkadmin.equinox"/>
<plugin id="org.eclipse.pde.build"/>
<plugin id="javax.servlet" version="2.5.0.v201103041518"/>
<plugin id="org.eclipse.core.expressions.source"/>
<plugin id="com.sun.jersey.jersey-servlet"/>
<plugin id="org.sat4j.core"/>
<plugin id="org.eclipse.debug.core"/>
<plugin id="org.apache.lucene.analysis"/>
<plugin id="org.eclipse.ant.launching"/>
<plugin id="org.eclipse.core.runtime.compatibility.source"/>
<plugin id="org.eclipse.xtext.util"/>
<plugin id="org.eclipse.equinox.frameworkadmin"/>
<plugin id="org.eclipse.gmf.runtime.emf.clipboard.core.source"/>
<plugin id="org.eclipse.gmf.runtime.emf.type.core.source"/>
<plugin id="org.eclipse.jdt.junit.source"/>
<plugin id="org.eclipse.equinox.security.win32.x86"/>
<plugin id="org.eclipse.equinox.p2.repository.source"/>
<plugin id="org.eclipse.jdt.debug.source"/>
<plugin id="org.mortbay.jetty.util"/>
<plugin id="org.eclipse.osgi.source"/>
<plugin id="org.eclipse.team.cvs.core.source"/>
<plugin id="org.eclipse.ui.views"/>
<plugin id="org.eclipse.equinox.simpleconfigurator.manipulator.source"/>
<plugin id="org.eclipse.equinox.jsp.jasper.registry"/>
<plugin id="org.antlr.runtime.source"/>
<plugin id="org.apache.derby" version="10.5.1.1_v201108232300"/>
<plugin id="com.google.inject"/>
<plugin id="org.apache.commons.httpclient.source"/>
<plugin id="org.eclipse.emf.ecore.change.source"/>
<plugin id="org.eclipse.ui.views.log"/>
<plugin id="org.eclipse.debug.ui.source"/>
<plugin id="org.antlr.runtime"/>
<plugin id="org.eclipse.equinox.p2.director.app.source"/>
<plugin id="org.eclipse.ant.ui.source"/>
</includeBundles>
<environment>
<os>win32</os>
<ws>win32</ws>
<arch>x86</arch>
<nl>hu_HU</nl>
</environment>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/jre6"/>
<launcherArgs>
<vmArgs>-Dorg.osgi.service.http.port=8081</vmArgs>
</launcherArgs>
</target>
